html {
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(0, 0, 0, 0.795); 
    color: white;
    padding: auto;
}
.banner {
    
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;   
}
.text {
    float: left;
}
.navbar ul li{ 
    text-align: center;
    list-style: none;
    margin: 20px;
    font-size: 30px; 
    /* background-size: 50px; */
}
.navbar ul li a{ 
    text-decoration: underline;
    text-decoration-color: #ffee00da;
    text-underline-offset: 10px;    
    color: white;
    background-size: 50px;
    border-radius: 5px;
}
div {
    font-size:large;
    word-spacing: 10px;
    line-height: 30px;
    text-align: center;
    margin: 40px;
    padding: auto;

}

#about {
    display: none;
}
#about:target {
    display: block;
}

.me {
    max-width: 300px;
    border-radius: 10px;
    overflow: hidden;
}

.contact ul li {
    list-style: none;
    display: inline-block;
    align-items:center;
    justify-content: space-between;


}
.contact ul li img {
    list-style: none;
    max-width: 30px;
    margin:auto;
    
}


