*{
font-family: Arial;    
background-color: black; 
color: white;
}
.banner {
    
}

.logo {
    position: relative;
    /* height="300px" width="300px" */
    display:flex;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

   
}
.about {
    text-align: center;
}
.navbar ul li{ 
    text-align: center;
    list-style: none;
    margin: 20px;
    font-size: 30px; 
    /* background-size: 50px; */
}
.navbar ul li a{ 
    text-decoration: underline;
    text-decoration-color: #ffee00da;
    text-underline-offset: 10px;    
    color: white;
    background-size: 50px;
    border-radius: 5px;
}

.contact {
    list-style: none;
    display: inline;
    margin:auto;
    align-items:center;
}
.contact img {
    padding: 5px;
    max-height: 40px;
    max-width: 40px;
}



/* 

.navbar ul li{
    list-style: none;
    display: inline-flex;
    margin: 10px 20px;
    size: 50px;
    position: relative;
    background: #ffee0018;
    border-radius: 30px;
    left: -10px;
    
}

.navbar ul li a {
    text-decoration: none;
    color: white;
}

.navbar ul li::after{
    content: '';
    height: 60px;
    width: 0;
    background: #ffee00c0;
    position:absolute;
    transition: .4s;
    border-radius: 30px;
    left: 0;
}

.navbar ul li:hover::after{
    width: 100%;
    height: 50px;
    cursor:pointer ;
} */