html {
    font-family: 'Montserrat', sans-serif;
    background-color: white; 
    color: balck;
    padding: auto;
}
.banner {
    
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;   
}

}
div {
    font-size:large;
    word-spacing: 8px;
    line-height: 30px;
    text-align: center;
    margin: 40px;
    padding-left: 5%;
    padding-right: 5%;

}


.me {
    max-width: 300px;
    border-radius: 30px;
    float: right;
    padding-top: 15px;
}


section {
    box-sizing: border-box;
} 
section a {
    text-decoration: none;
    color: #2aadd4
}
section a:hover {
    text-decoration: underline;
    text-underline-offset: 7px;    
    color: #2aadd4;
    
}
section a:visited {
    text-decoration: none;
    color: #1f88c5
}



 


